spring-boot-dev/src/main/resources/static/hr.xsd

<xsd:schema targetNamespace="http://demo.com/types/helloworld"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="1.0">
	<xsd:element name="person">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="firstName" type="xsd:string" />
				<xsd:element name="lastName" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="greeting">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="greeting" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>